---
import { Image } from 'astro:assets';
import Estandar from '../../src/assets/Estandar.png';
import Premium from '../../src/assets/Premiun.png';
import Family from '../../src/assets/Family.png';
import Kids from '../../src/assets/Kid.png';
---

<main class="mx-auto my-12 px-4 container">
    <div class="grid gap-4 grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-8">
        <!-- Plan Estándar -->
        <div class="bg-white rounded-lg shadow-xl flex flex-col overflow-hidden">
            <div class="w-full h-64">
                <Image class="w-full h-full object-cover" src={Estandar} alt="Plan Estándar" />
            </div>
            <div class="p-4 flex flex-col justify-between flex-grow">
                <div>
                    <h3 class="text-xl font-bold mb-2 text-gray-800">Plan Estándar</h3>
                    <p class="text-gray-600 mb-4">Ideal para individuos o parejas. Incluye 10 platillos a la semana, perfectos para mantener una dieta equilibrada.</p>
                    <p class="text-gray-600 mb-4">Ideal para: 1-2 personas.</p>
                </div>
                <a href="#plans" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded text-center transition ease-in duration-200">Elegir este plan</a>
            </div>
        </div>

        <!-- Plan Premium -->
        <div class="bg-white rounded-lg shadow-xl flex flex-col overflow-hidden">
            <div class="w-full h-64">
                <Image class="w-full h-full object-cover" src={Premium} alt="Plan Premium">
            </div>
            <div class="p-4 flex flex-col justify-between flex-grow">
                <div>
                    <h3 class="text-xl font-bold mb-2 text-gray-800">Plan Premium</h3>
                    <p class="text-gray-600 mb-4">Para aquellos que buscan resultados y variedad, incluye 15 platillos a la semana con opciones para personalizar tus platillos.</p>
                    <p class="text-gray-600 mb-4">Ideal para: 2-3 personas.</p>
                </div>
                <a href="#plans" class="bg-green-500 hover:bg-green-700 text-white py-2 px-4 rounded text-center transition ease-in duration-200">Elegir este plan</a>
            </div>
        </div>

        <!-- Plan Familiar -->
        <div class="bg-white rounded-lg shadow-xl flex flex-col overflow-hidden">
            <div class="w-full h-64">
                <Image class="w-full h-full object-cover" src={Family} alt="Plan Familiar">
            </div>
            <div class="p-4 flex flex-col justify-between flex-grow">
                <div>
                    <h3 class="text-xl font-bold mb-2 text-gray-800">Plan Familiar</h3>
                    <p class="text-gray-600 mb-4">Diseñado para toda la familia, incluye 20 platillos a la semana, con opciones nutritivas y balanceadas para menores.</p>
                    <p class="text-gray-600 mb-4">Ideal para: 4-5 personas. Nutrición enfocada para menores incluida.</p>
                </div>
                <a href="#plans" class="bg-yellow-500 hover:bg-yellow-700 text-white py-2 px-4 rounded text-center transition ease-in duration-200">Elegir este plan</a>
            </div>
        </div>

        <!-- Plan Niños -->
        <div class="bg-white rounded-lg shadow-xl flex flex-col overflow-hidden">
            <div class="w-full h-64">
                <Image class="w-full h-full object-cover" src={Kids} alt="Plan para Niños">
            </div>
            <div class="p-4 flex flex-col justify-between flex-grow">
                <div>
                    <h3 class="text-xl font-bold mb-2 text-gray-800">Plan para Niños</h3>
                    <p class="text-gray-600 mb-4">Especialmente diseñado para los más pequeños, este plan incluye 10 platillos nutritivos por semana, adaptados a sus necesidades y gustos.</p>
                    <p class="text-gray-600 mb-4">Ideal para: Menores de 12 años.</p>
                </div>
                <a href="#plans" class="bg-purple-500 hover:bg-purple-700 text-white py-2 px-4 rounded text-center transition ease-in duration-200">Elegir este plan</a>
            </div>
        </div>
    </div>
</main>
